* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  padding: 2rem;
  background: black;
  color: rgb(112, 0, 0);
}
.container {
  max-width: 600px;
  margin: 4rem auto;
}

.custom-input {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  border: 2px solid red;
  background: black;
  color: red;
  outline: none;
}

.custom-input:focus {
  border-color: white;
}

.output {
  margin-top: 2rem;
}

.output p {
  margin-bottom: 1rem;
}
